<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url("./assets/error.jpg");
            background-repeat: no-repeat;
            background-size: cover ;
            background-attachment: fixed;
            background-position: 0 -180px;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Error</title>
</head>
<body>
</body>
</html>